@import url("../../../../styles.css");
input {
    color: black !important;
    width: 100% !important;
    width: 50% !important;
}

p {
    color: var( --modal-color-text);
    font-size: 15px;
}

.button-svg {
    width: auto;
    background-color: transparent;
    border: none;
    color: white;
}

svg:hover {
    cursor: pointer;
}