<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" />

<div>
    <form id="formularioRegistro" [formGroup]="registerForm" (ngSubmit)="onRegistro(registerForm.value)" class="Icon-inside" enctype="multipart/form-data">
        <div class="image-upload">
            <label for="file-input">
                <img id="preview" [src]="imgSrc" class="fadeIn first">
            </label>
        </div>
        <input id="file-input" type="file" (change)="readURL($event)" accept="image/png, image/gif, image/jpeg" formControlName="userImage" class="fadeIn second"><br>

        <input type="text" id="login" formControlName="username" minlength="3" maxlength="20" placeholder="Usuario" class="fadeIn second" [ngClass]="{ 'is-invalid': form.username.errors }">
        <!-- Missatge error nom usuari -->
        <div *ngIf="submitted && form.username.errors" class="invalid-feedback">
            <div *ngIf="form.username.errors.required">El nombre de usuario es necesario</div>
        </div>
        <div *ngIf="form.username.errors" class="invalid-feedback">
            <div *ngIf="form.username.errors.pattern">Solo se permiten letras, números y guiones bajos</div>
            <div *ngIf="form.username.errors.notUnique">El nombre de usuario ya existe</div>
            <div *ngIf="form.username.pending">Consultando disponibilidad</div>
        </div>

        <input type="email" id="email" formControlName="email" maxlength="64" placeholder="Correo Electrónico" class="fadeIn third" [ngClass]="{ 'is-invalid': form.email.errors }" email>
        <!-- Missatge error email -->
        <div *ngIf="submitted && form.email.errors" class="invalid-feedback">
            <div *ngIf="form.email.errors.required">El correo electrónico es necesario</div>
        </div>
        <div *ngIf="form.email.errors" class="invalid-feedback">
            <div *ngIf="form.email.errors.notUnique">El correo electrónico ya existe</div>
            <div *ngIf="form.email.errors.email">Correo electrónico no válido</div>
            <div *ngIf="form.email.pending">Consultando disponibilidad del correo electrónico</div>
        </div>

        <div class="form-group">
            <div class="input-group">
                <input id="password" placeholder="Password" maxlength="50" formControlName="password" class="fadeIn third" [type]="passType" [ngClass]="{ 'is-invalid': submitted && form.password.errors }">
                <!-- Icono -->
                <i *ngIf="this.passShown" (click)="togglePass()" class="material-icons">
                    visibility
                </i>
                <i *ngIf="!this.passShown" (click)="togglePass()" class="material-icons">
                    visibility_off
                </i>
                <!-- Missatge error pass -->
                <div *ngIf="submitted && form.password.errors" class="invalid-feedback">
                    <div *ngIf="form.password.errors.required">La contraseña es necesaria</div>
                    <div *ngIf="form.password.errors.minlength">La contraseña debe contener al menos 6 carácteres</div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="input-group">
                <input id="confirmPassword" maxlength="50" placeholder="Confirmar Contraseña" maxlength="50" class="fadeIn third" formControlName="confirmPassword" [type]="confirmPassType" [ngClass]="{ 'is-invalid':submitted && form.confirmPassword.errors }">
                <!-- Icono -->
                <i *ngIf="this.confirmPassShown" (click)="toggleConfirmPass()" class="material-icons">
                    visibility
                </i>
                <i *ngIf="!this.confirmPassShown" (click)="toggleConfirmPass()" class="material-icons">
                    visibility_off
                </i>
                <!-- Missatge error confirmar pass -->
                <div *ngIf="submitted && form.confirmPassword.errors" class="invalid-feedback">
                    <div *ngIf="form.confirmPassword.errors.required">Confirmar la contraseña es necesario</div>
                    <div *ngIf="form.confirmPassword.errors.mustMatch">Las contraseñas deben de coincidir</div>

                </div>
            </div>
        </div>

        <input type="text" id="nombre" name="nombre" placeholder="Nombre" minlength="3" maxlength="30" class="fadeIn fourth" formControlName="nombre" [ngClass]="{ 'is-invalid': form.nombre.errors }">
        <!-- Missatge error nombre -->
        <div *ngIf="submitted && form.nombre.errors" class="invalid-feedback">
            <div *ngIf="form.nombre.errors.required">El nombre es necesario</div>
        </div>

        <input type="text" id="apellidos" name="apellidos" placeholder="Apellidos" minlength="3" maxlength="30" class="fadeIn fourth" formControlName="apellidos" [ngClass]="{ 'is-invalid': form.apellidos.errors }">
        <!-- Missatge error apellidos -->
        <div *ngIf="submitted && form.apellidos.errors" class="invalid-feedback">
            <div *ngIf="form.apellidos.errors.required">Los apellidos son necesarios</div>
        </div>

        <input type="date" name="currentDate" [ngModel]="currentDate | date:'yyyy-MM-dd'" min="1942-01-01" [max]="currentDate | date:'yyyy-MM-dd'" id="fechaNacimiento" minlength="3" maxlength="30" placeholder="Date" class="fadeIn fourth" formControlName="fechaNacimiento">
        <!-- Missatge error fecha de nacimiento -->
        <div *ngIf="submitted && form.fechaNacimiento.errors" class="invalid-feedback">
            <div *ngIf="form.fechaNacimiento.errors.required">La fecha de nacimiento es necesaria</div>
        </div>

        <input type="submit" value="Registrarse" class="fadeIn fifth">
    </form>

    <script src="../../../../scripts/preview.js"></script>
</div>