<!--
    
    <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="" name="name" #name="ngModel">
    </div>

    <div class="form-group">
        <label for="alterEgo">Alter Ego</label>
        <input type="text" class="form-control" id="alterEgo" [(ngModel)]="" name="alterEgo">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>

-->
<div class="Centrar-crear-ranking">
    <div class="contenido-crear-ranking">
        <h3 class="h3-estilos">Registro ranking</h3>
        <label>Nombre:
            <input type="text" [(ngModel)]="nombreRanking" placeholder="Nombre del ranking"><br>
        </label>
        <br><label> Seleccionar alumnos:</label>
        <div class="contenido-checkbox " *ngFor="let alumno of listaAlumnos">
            <label class="container">
                <input type="checkbox" checked="checked" [value]="alumno.id_alumno" (change)="checkboxAlumnos($event)">
                <span class="checkmark"></span>
                {{alumno.nick}}
            </label>
        </div>

        <br><label>Código de ranking:</label>
        <p>{{codigoRanking}}</p><br>


        <button class="buttom-rankings" (click)="onSubmit()">Crear ranking</button>
    </div>
</div>