<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<header id="header">
    <nav class="navbar-todo">

        <ul id="nav-menu">
            <li class="nav-items-right"><a href="#">Perfil</a></li>
            <li class="nav-items-right"><a href="#">Mis Rankins</a></li>
        </ul>
        <a href="#" class="logo">Logo</a>
        <span id="abrir-menu" class="material-icons" (click)="onclickToggle()">
            reorder
        </span>
    </nav>
</header>

https://codepen.io/ribluc/pen/XjdOyE