<app-header></app-header>
<div class="main-separador">
    <div class="separador1">
        <div class="sidebar">
            <div class="lista-rankings">
                <h2>Mis Rankings</h2>
                <app-modal></app-modal>
                <div *ngIf="flagRanks;else tieneRankings">
                    <p>No tiene rankings</p>
                </div>
                <ng-template #tieneRankings>
                    <div *ngFor="let rank of arrRankings; let i = index" class="rank">
                        <button class="buttom-ranking-class" (click)="rankSelec(rank.id_rank)">{{rank.nom_rank}}
                        <div class="cantidad-alumnos">
                            {{rank.alumnos}} alumnos
                        </div>
                    </button>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>

    <div class="separador2">
        <div class="info-rankings">
            <div class="titulo-detalle-ranking" *ngIf="rankSeleccionado;else noselec">
                <div class="info-superior">
                    <h1>Ranking</h1>
                    <div class="contenido-icons">
                        <!--buttom borrar-->
                        <button class="buttom-icons" (click)="eliminarRanking()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                            class="bi bi-trash-fill" viewBox="0 0 16 16">
                            <path
                                d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                        </svg>
                    </button>
                        <!--buttom editar-->
                        <button class="buttom-icons">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                            class="bi bi-tools" viewBox="0 0 16 16">
                            <path
                                d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.356 3.356a1 1 0 0 0 1.414 0l1.586-1.586a1 1 0 0 0 0-1.414l-3.356-3.356a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0zm9.646 10.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708zM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11z" />
                        </svg>
                    </button>

                    </div>
                </div>
                <h4> Nombre del ranking: {{rankSeleccionado.nom_rank}}</h4>
                <h3> Codigo de acceso: {{rankSeleccionado.cod_rank}}</h3>
            </div>
            <ng-template #noselec>
                <div class="titulo-detalle-ranking">
                    <h1>Ranking</h1>
                    <h5>No se seleccionó ningún ranking</h5>
                </div>
            </ng-template>
            <div class="alumnos-ranking">
                <app-loader></app-loader>
                <div class="table-element" *ngFor="let alumno of listaAlumnos; let i = index">
                    <div class="table-num">
                        {{i+1}}
                    </div>
                    <div class="table-imagen">
                        <img src="{{alumno.imagen}}">
                    </div>
                    <div class="table-nombre">
                        {{alumno.nombre}}
                    </div>
                    <div class="table-apellidos">
                        {{alumno.apellidos}}
                    </div>
                    <div class="table-puntuacion">
                        {{alumno.puntuacion}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>