/* cantidad alumnos */

.cantidad-alumnos {
    text-align: center;
    color: #fff;
}


/* autogenerar código */

.codFlex {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 200px;
}

.codFlex button {
    padding: 0;
    border: none;
    background: none;
}


/* botones de la cabecera del ranking */

.flex-cons {
    display: flex;
    align-items: flex-start;
}

.flex-cons a {
    cursor: pointer;
    transition: none;
    margin: 10px;
}

.flex-cons a:hover {
    color: #1292f8 !important;
    transition: 0.5s !important;
}


/* Lista de entregas */

.entregas-ranking {
    display: flex;
    width: 100%;
    background: #0000008c;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    border-radius: 5px;
    display: block;
}


/* En caso de que no hayan entregas */

.no-entregas {
    display: flex;
    justify-content: space-between;
}

.no-entregas p {
    color: #afafaf;
    margin: 10px;
}


/* Estilos del buscador */

.contenido-buscar {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.svg-buscar {
    margin-top: 5px;
    color: #929191;
}

.button-buscar {
    background: transparent;
    border: none;
    color: #929191;
}


/* Botón de detalles de entrega */

.btn-entrega {
    background-color: transparent;
    width: 96%;
    text-align: left;
    border: none;
    color: #cccccc;
    cursor: pointer;
    transition: 200ms;
    border-radius: 4px;
    word-wrap: break-word;
    margin: 5px;
}

.btn-entrega:hover {
    transition: 200ms;
    color: white;
    background-color: #56baed;
}

.btn-entrega:focus {
    color: white;
    background-color: #56baed;
}


/* Desplegable de cada alumno */

.button-more-table {
    background-color: transparent;
    border: none;
    color: #cccccc;
    transition: 1s;
    cursor: pointer;
    border-radius: 7px;
    margin: 5px;
}

.button-more-table:hover {
    transition: 1;
    color: white;
    background-color: #56baed;
}

.texto-desplegable {
    margin: 5px;
}


/* Botones de aceptar o denegar alumnos */

.lista-pendientes {
    display: flex;
    flex-direction: column;
}

.btn-pendientes-flex {
    display: flex;
    align-items: baseline;
}

.btn-pendientes-flex button {
    margin: 0 2px;
}

.btn-pendientes {
    padding: 2px 5px;
    border: none;
    background-color: #2dd36f;
    border-radius: 5px;
}

.btn-pendientes:hover {
    background-color: #037e34;
}

.btn-denegar-pendientes {
    padding: 2px 5px;
    border: none;
    background-color: #eb445a;
    border-radius: 5px;
}

.btn-denegar-pendientes:hover {
    background-color: #ad0219;
}


/* header entregas */

.header-entregas {
    display: flex;
    justify-content: space-between;
}

.btn-crear-entrega {
    border: 0;
    background: none;
}

.hr-entrega {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    width: 80%;
    border-top: 1px solid rgb(255 255 255 / 50%);
}


/* buscador */

input[type="text"]:focus {
    color: var(--backgound-color-skeleton);
}


/* media */

@media screen and (max-width:1024px) {
    .separador {
        margin-top: 15%;
    }
}