.icon {
	font-size: 32px;
	font-weight: bold;
	letter-spacing: 32px;
	position: relative;
}

.confetti {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.confetti-piece {
	position: absolute;
	width: 8px;
	height: 16px;
	background: #f54242;
	top: 0;
	opacity: 0;
}

.confetti-piece:nth-child(1) {
	left: 7%;
	transform: rotate(-58deg);
	animation: makeItRain 1000ms infinite ease-out;
	animation-delay: 264ms;
	animation-duration: 3000ms;
    
    
}

.confetti-piece:nth-child(2) {
	left: 14%;
	transform: rotate(34deg);
	animation: makeItRain 1000ms infinite ease-out;
	animation-delay: 77ms;
	animation-duration: 3050ms;
}

.confetti-piece:nth-child(3) {
	left: 21%;
	transform: rotate(-17deg);
	animation: makeItRain 1000ms infinite ease-out;
	animation-delay: 110ms;
	animation-duration: 3300ms;
}

.confetti-piece:nth-child(4) {
	left: 28%;
	transform: rotate(34deg);
	animation: makeItRain 1000ms infinite ease-out;
	animation-delay: 140ms;
	animation-duration: 3400ms;
}

.confetti-piece:nth-child(5) {
	left: 35%;
	transform: rotate(-54deg);
	animation: makeItRain 1000ms infinite ease-out;
	animation-delay: 223ms;
	animation-duration: 2800ms;
}

.confetti-piece:nth-child(6) {
	left: 42%;
	transform: rotate(36deg);
	animation: makeItRain 1000ms infinite ease-out;
	animation-delay: 300ms;
	animation-duration: 2900ms;
}

.confetti-piece:nth-child(7) {
	left: 49%;
	transform: rotate(22deg);
	animation: makeItRain 1000ms infinite ease-out;
	animation-delay: 26ms;
	animation-duration: 3400ms;
}

.confetti-piece:nth-child(8) {
	left: 56%;
	transform: rotate(-35deg);
	animation: makeItRain 1000ms infinite ease-out;
	animation-delay: 65ms;
	animation-duration: 2800ms;
}

.confetti-piece:nth-child(9) {
	left: 63%;
	transform: rotate(57deg);
	animation: makeItRain 1000ms infinite ease-out;
	animation-delay: 268ms;
	animation-duration: 3050ms;
}

.confetti-piece:nth-child(10) {
	left: 70%;
	transform: rotate(28deg);
	animation: makeItRain 1000ms infinite ease-out;
	animation-delay: 261ms;
	animation-duration: 3000ms;
}

.confetti-piece:nth-child(11) {
	left: 77%;
	transform: rotate(11deg);
	animation: makeItRain 1000ms infinite ease-out;
	animation-delay: 7ms;
	animation-duration: 3100ms;
}

.confetti-piece:nth-child(12) {
	left: 84%;
	transform: rotate(66deg);
	animation: makeItRain 1000ms infinite ease-out;
	animation-delay: 114ms;
	animation-duration: 3000ms;
}

.confetti-piece:nth-child(13) {
	left: 91%;
	transform: rotate(24deg);
	animation: makeItRain 1000ms infinite ease-out;
	animation-delay: 99ms;
	animation-duration: 955ms;
}
/* confetti 2*/


.confetti-piece:nth-child(14) {
	left: 5%;
	transform: rotate(-58deg);
	animation: makeItRain 1000ms infinite ease-out;
	animation-delay: 264ms;
	animation-duration: 3100ms;
    
    
}

.confetti-piece:nth-child(15) {
	left: 10%;
	transform: rotate(34deg);
	animation: makeItRain 1000ms infinite ease-out;
	animation-delay: 77ms;
	animation-duration: 3000ms;
}

.confetti-piece:nth-child(16) {
	left: 20%;
	transform: rotate(-17deg);
	animation: makeItRain 1000ms infinite ease-out;
	animation-delay: 110ms;
	animation-duration: 3300ms;
}

.confetti-piece:nth-child(17) {
	left: 24%;
	transform: rotate(34deg);
	animation: makeItRain 1000ms infinite ease-out;
	animation-delay: 140ms;
	animation-duration: 3500ms;
}

.confetti-piece:nth-child(18) {
	left: 30%;
	transform: rotate(-54deg);
	animation: makeItRain 1000ms infinite ease-out;
	animation-delay: 223ms;
	animation-duration: 2900ms;
}

.confetti-piece:nth-child(19) {
	left: 35%;
	transform: rotate(36deg);
	animation: makeItRain 1000ms infinite ease-out;
	animation-delay: 300ms;
	animation-duration: 2700ms;
}

.confetti-piece:nth-child(20) {
	left: 40%;
	transform: rotate(22deg);
	animation: makeItRain 1000ms infinite ease-out;
	animation-delay: 26ms;
	animation-duration: 3400ms;
}

.confetti-piece:nth-child(21) {
	left: 45%;
	transform: rotate(-35deg);
	animation: makeItRain 1000ms infinite ease-out;
	animation-delay: 65ms;
	animation-duration: 2900ms;
}

.confetti-piece:nth-child(22) {
	left: 50%;
	transform: rotate(57deg);
	animation: makeItRain 1000ms infinite ease-out;
	animation-delay: 268ms;
	animation-duration: 3040ms;
}

.confetti-piece:nth-child(23) {
	left: 60%;
	transform: rotate(28deg);
	animation: makeItRain 1000ms infinite ease-out;
	animation-delay: 261ms;
	animation-duration: 3100ms;
}

.confetti-piece:nth-child(24) {
	left: 70%;
	transform: rotate(11deg);
	animation: makeItRain 1000ms infinite ease-out;
	animation-delay: 7ms;
	animation-duration: 3200ms;
}

.confetti-piece:nth-child(25) {
	left: 78%;
	transform: rotate(66deg);
	animation: makeItRain 1000ms infinite ease-out;
	animation-delay: 114ms;
	animation-duration: 3100ms;
}

.confetti-piece:nth-child(26) {
	left: 95%;
	transform: rotate(24deg);
	animation: makeItRain 1000ms infinite ease-out;
	animation-delay: 99ms;
	animation-duration: 3005ms;
}



/*confetti 3*/

.confetti-piece:nth-child(27) {
	left: 7%;
	transform: rotate(-58deg);
	animation: makeItRain 1000ms infinite ease-out;
	animation-delay: 264ms;
	animation-duration: 3000ms;
    
    
}

.confetti-piece:nth-child(28) {
	left: 14%;
	transform: rotate(34deg);
	animation: makeItRain 1000ms infinite ease-out;
	animation-delay: 250ms;
	animation-duration: 3050ms;
}

.confetti-piece:nth-child(29) {
	left: 21%;
	transform: rotate(-17deg);
	animation: makeItRain 1000ms infinite ease-out;
	animation-delay: 99ms;
	animation-duration: 3300ms;
}

.confetti-piece:nth-child(30) {
	left: 28%;
	transform: rotate(34deg);
	animation: makeItRain 1000ms infinite ease-out;
	animation-delay: 400ms;
	animation-duration: 3400ms;
}

.confetti-piece:nth-child(5) {
	left: 35%;
	transform: rotate(-54deg);
	animation: makeItRain 1000ms infinite ease-out;
	animation-delay: 200ms;
	animation-duration: 2800ms;
}

.confetti-piece:nth-child(31) {
	left: 42%;
	transform: rotate(36deg);
	animation: makeItRain 1000ms infinite ease-out;
	animation-delay: 600ms;
	animation-duration: 2900ms;
}

.confetti-piece:nth-child(32) {
	left: 49%;
	transform: rotate(22deg);
	animation: makeItRain 1000ms infinite ease-out;
	animation-delay: 50ms;
	animation-duration: 3400ms;
}

.confetti-piece:nth-child(33) {
	left: 56%;
	transform: rotate(-35deg);
	animation: makeItRain 1000ms infinite ease-out;
	animation-delay: 80ms;
	animation-duration: 2800ms;
}

.confetti-piece:nth-child(34) {
	left: 63%;
	transform: rotate(57deg);
	animation: makeItRain 1000ms infinite ease-out;
	animation-delay: 300ms;
	animation-duration: 3050ms;
}

.confetti-piece:nth-child(35) {
	left: 70%;
	transform: rotate(28deg);
	animation: makeItRain 1000ms infinite ease-out;
	animation-delay: 700ms;
	animation-duration: 3000ms;
}

.confetti-piece:nth-child(36) {
	left: 77%;
	transform: rotate(11deg);
	animation: makeItRain 1000ms infinite ease-out;
	animation-delay: 75ms;
	animation-duration: 3100ms;
}

.confetti-piece:nth-child(37) {
	left: 84%;
	transform: rotate(66deg);
	animation: makeItRain 1000ms infinite ease-out;
	animation-delay: 50ms;
	animation-duration: 3000ms;
}

.confetti-piece:nth-child(38) {
	left: 91%;
	transform: rotate(24deg);
	animation: makeItRain 1000ms infinite ease-out;
	animation-delay:150ms;
	animation-duration: 955ms;
}






.confetti-piece:nth-child(odd) {
	background: orange;
}

.confetti-piece:nth-child(even) {
	z-index: 1;
}

.confetti-piece:nth-child(4n) {
	width: 5px;
	height: 12px;
	animation-duration: 2000ms;
}

.confetti-piece:nth-child(3n) {
	width: 3px;
	height: 10px;
	animation-duration: 2500ms;
	animation-delay: 1000ms;
}

.confetti-piece:nth-child(4n-7) {
	background: #ff4e91;
}

@keyframes makeItRain {
	from {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	to {
		transform: translateY(1000px);
	}
}