header {
    list-style-type: none;
    margin: 0;
    top: 0;
    left: 0;
    background: #0000001a;
    -webkit-backdrop-filter: blur(6px);
    border-radius: 0px 0px 2px 2px;
    animation: animacion-navbar linear 0.6s;
    transition: 0.5s;
    position: fixed;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    width: 100%;
    padding: 0px 10px;
    z-index: 90;
}

#abrir-menu {
    padding: 14px;
    color: white;
}

header.sticky {
    padding: 0px 5px;
    background: #0000008c;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    backdrop-filter: blur(6px);
}

.nav-items-right {
    float: right;
}

.navbar-todo{
    margin-top: 1rem;
}

#nav-menu {
    display: block;
    opacity: 1;
}

li {
    float: left;
    list-style: none;
}

.nav-items-right:hover {
    transition: 1s;
    text-decoration: underline;
}

.nav-items-right img {
    width: 50px;
    height: auto;
    border-radius: 50%;
}

li a {
    margin: 5px;
    transition: 1s;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

@media (hover: hover) and (pointer: fine) {
    .li a:hover::before {
        left: 0;
        right: auto;
        width: 100%;
    }
}

.li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #0074D9;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.header-toggle,
.header-close {
    display: none;
}

@media screen and (max-width: 768px) {
    .header {
        height: 48px;
        justify-content: space-between;
        padding: 0 28px;
    }
}

@keyframes animacion-navbar {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
    }
}

#abrir-menu {
    display: none;
}

@media screen and (max-width: 768px) {
    body {
        padding: 90px 20px 0;
    }
    #header {
        height: 80px;
    }
    #nav-menu {
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        position: fixed;
        left: 0;
        display: none;
        box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
        background: #2967ab;
        top: 80px;
        width: 100%;
        padding: 20px 0;
        height: 1000px;
        opacity: 0;
    }
    .nav-items-right {
        font-size: 18px;
        margin: 0 10px;
        line-height: 80px;
        text-transform: uppercase;
        width: max-content;
    }
    #abrir-menu {
        float: right;
        display: block;
        margin-top: 3%;
    }
    .navMenuScroll {
        background: #000000a8 !important;
        backdrop-filter: blur(6px) !important;
    }
    .mostrar {
        display: flex !important;
        -webkit-animation: fadeIn 0.5s ease-in-out 1 forwards;
        animation: fadeIn 0.5s ease-in-out 1 forwards;
    }
    .out {
        animation: fadeOut 0.5s ease-in;
    }
    @-webkit-keyframes fadeIn {
        to {
            opacity: 1;
        }
    }
    @keyframes fadeIn {
        to {
            opacity: 1;
        }
    }
    @keyframes fadeOut {
        to {
            opacity: 0;
        }
    }
}

@import url(//fonts.googleapis.com/css?family=Lato:300:400);
body {
    margin: 0;
}

p {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-size: 14px;
    color: #333333;
}


/*
.logo {
    width: 50px;
    fill: white;
    padding-right: 15px;
    display: inline-block;
    vertical-align: middle;
}
*/

.inner-header {
    height: 65vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 150px;
}

.content {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: rgb(211, 83, 83);
}

.footer-waves {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: -10;
}


/* Animacion */

.parallax>use {
    animation: move-forever 30s cubic-bezier(.55, .5, .45, .5) infinite alternate;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 20s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 20s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}


/*Shrinking for mobile*/

@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }
    .content {
        height: 30vh;
    }
    h1 {
        font-size: 24px;
    }
}


/* logo animado */

.containerlogo {
    position: relative;
    width: 300px;
}

.logotest {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-top: 50px;
}

.logotest>div {
    position: absolute;
    width: 15px;
    margin: 2px;
    border-radius: 100px 100px 0 0;
}

.barralogo1 {
    background-color: rgb(20, 129, 255);
    animation: barra1 0.2s forwards;
    animation-delay: 0.8s;
    right: 240px;
}

.barralogo2 {
    background-color: rgb(71, 212, 255);
    animation: barra2 0.2s forwards;
    animation-delay: 1s;
    right: 220px;
}

.barralogo3 {
    background-color: rgb(74, 159, 255);
    animation: barra3 0.2s forwards;
    animation-delay: 1.2s;
    right: 200px;
}

.barralogo4 {
    background-color: rgb(71, 212, 255);
    animation: barra4 0.2s forwards;
    animation-delay: 1.4s;
    right: 180px;
}

@keyframes barra1 {
    0% {
        height: 0px;
    }
    100% {
        height: 30px;
    }
}

@keyframes barra2 {
    0% {
        height: 0px;
    }
    100% {
        height: 40px;
    }
}

@keyframes barra3 {
    0% {
        height: 0px;
    }
    100% {
        height: 10px;
    }
}

@keyframes barra4 {
    0% {
        height: 0px;
    }
    100% {
        height: 60px;
    }
}