<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<header id="header">
    <ul>
        <li></li>
        <li><a href="#">Logo</a></li>
        <li class="header-items-right"><a href="#">Perfil</a></li>
        <li class="header-items-right"><a href="#">Mis Rankins</a></li>
    </ul>
    <label for="check" class="checkbtn">
        <span class="material-icons">
            reorder
        </span>
    </label>

</header>
<script type="text/javascript">
    window.addEventListener("scroll", function () {
        var header = document.querySelector('header');
        header.classList.toggle("sticky", window.scrollY > 0);
    })
</script>