<header id="header">
    <nav class="nav" id="nav-menu">
        <p class="header-close" id="close-menu">asdas</p>
        <ul>
            <li></li>
            <li><a href="#">Logo</a></li>
            <li class="header-items-right"><a href="#">Perfil</a></li>
            <li class="header-items-right"><a href="#">Mis Rankins</a></li>
        </ul>
    </nav>

    <p class="toggle-menu" id="toggle-menu">hola</p>

</header>
<script type="text/javascript">
    window.addEventListener("scroll", function () {
        var header = document.querySelector('header');
        header.classList.toggle("sticky", window.scrollY > 0);
    })
</script>