header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style-type: none;
    background: #0000009f;
    border-radius: 0px 0px 2px 2px;
    transition: 0.5s;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    padding-top: 10px;
    padding-bottom: 10px;
}

#abrir-menu {
    padding: 14px;
    color: white;
}

.header-toggle,
.header-close {
    display: none;
}

@media screen and (max-width: 768px) {
    .header {
        height: 48px;
        justify-content: space-between;
        padding: 0 28px;
    }
}

@keyframes animacion-navbar {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
    }
}

#abrir-menu {
    display: none;
}

@media screen and (max-width: 768px) {
    body {
        padding: 90px 20px 0;
    }
    #header {
        height: 80px;
    }
    #nav-menu {
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        position: fixed;
        left: 0;
        display: none;
        box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
        background: #2967ab;
        top: 80px;
        width: 100%;
        padding: 20px 0;
        height: 1000px;
        opacity: 0;
    }
    #abrir-menu {
        float: right;
        display: block;
    }
    .navMenuScroll {
        background: #000000a8 !important;
        backdrop-filter: blur(6px) !important;
    }
    .mostrar {
        display: flex !important;
        -webkit-animation: fadeIn 0.5s ease-in-out 1 forwards;
        animation: fadeIn 0.5s ease-in-out 1 forwards;
    }
    .out {
        animation: fadeOut 0.5s ease-in;
    }
    @-webkit-keyframes fadeIn {
        to {
            opacity: 1;
        }
    }
    @keyframes fadeIn {
        to {
            opacity: 1;
        }
    }
    @keyframes fadeOut {
        to {
            opacity: 0;
        }
    }
}

@import url(//fonts.googleapis.com/css?family=Lato:300:400);
body {
    margin: 0;
}

p {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-size: 14px;
    color: #333333;
}

.inner-header {
    height: 65vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 150px;
}

.content {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: rgb(211, 83, 83);
}


/* Animacion */

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}


/*Shrinking for mobile*/

@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }
    .content {
        height: 30vh;
    }
    h1 {
        font-size: 24px;
    }
}


/* logo animado */

.containerlogo {
    position: relative;
    width: 300px;
    top: 9px;
}

.logotest {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-top: 50px;
}

.logotest>div {
    position: absolute;
    width: 15px;
    margin: 2px;
    border-radius: 100px 100px 0 0;
}

.barralogo1 {
    background-color: rgb(20, 129, 255);
    animation: barra1 0.2s forwards;
    animation-delay: 0.8s;
    right: 240px;
}

.barralogo2 {
    background-color: rgb(71, 212, 255);
    animation: barra2 0.2s forwards;
    animation-delay: 1s;
    right: 220px;
}

.barralogo3 {
    background-color: rgb(74, 159, 255);
    animation: barra3 0.2s forwards;
    animation-delay: 1.2s;
    right: 200px;
}

.barralogo4 {
    background-color: rgb(71, 212, 255);
    animation: barra4 0.2s forwards;
    animation-delay: 1.4s;
    right: 180px;
}

.header-menu {
    display: flex;
    align-items: center;
}

.header-menu label {
    padding-right: 10px;
}

.header-menu img {
    width: 35px;
    height: 35px;
}


/* Dropdown Button */

.dropbtn {
    color: white;
    font-size: 16px;
    border: none;
    /*transition: 1s;*/
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 50px;
    cursor: pointer;
    color: #fff;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000ea;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    z-index: 999999;
    border-radius: 5px;
    right: 5px;
    width: 180px;
}


/* Links inside the dropdown */

.dropdown-content a {
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 45px;
    padding-left: 10px;
}

.dropdown-content p {
    color: white;
    padding-top: 20px;
    padding-left: 25px;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #1292f8;
    border-radius: 5px;
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}


/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
    background-color: #0074d969;
    /*transition: 0.5;*/
}

@keyframes barra1 {
    0% {
        height: 0px;
    }
    100% {
        height: 30px;
    }
}

@keyframes barra2 {
    0% {
        height: 0px;
    }
    100% {
        height: 40px;
    }
}

@keyframes barra3 {
    0% {
        height: 0px;
    }
    100% {
        height: 10px;
    }
}

@keyframes barra4 {
    0% {
        height: 0px;
    }
    100% {
        height: 60px;
    }
}