<a [routerLink]="['/dashboardProfesor']">Ir al dashboard</a>

<table id="perfil">
    <tr>
      <th>id</th>
      <th>nick</th>
      <th>email</th>
      <th>pass</th>
      <th>nombre</th>
      <th>apellidos</th>
      <th>Centro</th>
    </tr>
    <tr>
      <td>{{perfil.id}}</td>
      <td>{{perfil.nick}}</td>
      <td>{{perfil.email}}</td>
      <td>{{perfil.pass}}</td>
      <td>{{perfil.nombre}}</td>
      <td>{{perfil.apellidos}}</td>
      <td>{{perfil.centro}}</td>
    </tr>
</table>