<!--podium-->


<div class="container podium">
  <div></div>
  <div class="podium__item">
    <div class="animacion-podium-nombre2"><p class="podium__city">Nombre</p></div>
    <div class="podium__rank second">
     <div class="animacion-podium"> <h1 class="posicion-ranking"> 2</h1></div>
     </div>
  </div>


  <div class="podium__item">
    <div class="contenido-alumno-ranking">
    <img src="" alt="">
    <div class="animacion-podium-nombre1"><p class="podium__city">Nombre</p></div>
    </div>
    <div class="podium__rank first">
     <div class="animacion-podium"><h1 class="posicion-ranking"> 1</h1></div>
    </div>

    
</div>
  <div class="podium__item">
   <div class="animacion-podium-nombre3"> <p class="podium__city">Nombre</p></div>
    <div class="podium__rank third">
    <div class="animacion-podium">  <h1 class="posicion-ranking"> 3</h1></div>
    </div>
  </div>

  <!--confetti-->

<div class="confetti">
  <div class="confetti-piece"></div>
  <div class="confetti-piece"></div>
  <div class="confetti-piece"></div>
  <div class="confetti-piece"></div>
  <div class="confetti-piece"></div>
  <div class="confetti-piece"></div>
  <div class="confetti-piece"></div>
  <div class="confetti-piece"></div>
  <div class="confetti-piece"></div>
  <div class="confetti-piece"></div>
  <div class="confetti-piece"></div>
  <div class="confetti-piece"></div>
  <div class="confetti-piece"></div>
  <div class="confetti-piece"></div>
  <div class="confetti-piece"></div>
  <div class="confetti-piece"></div>
  <div class="confetti-piece"></div>
  <div class="confetti-piece"></div>
  <div class="confetti-piece"></div>
  <div class="confetti-piece"></div>
  <div class="confetti-piece"></div>
  <div class="confetti-piece"></div>
  <div class="confetti-piece"></div>
  <div class="confetti-piece"></div>
  <div class="confetti-piece"></div>
  <div class="confetti-piece"></div>
</div>


