<!--
    <a (click)="enviar(nombreModal)">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
      <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
    </svg>
    <label>Ver detalle</label>
</a>

<ng-template #nombreModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h1>Perfil alumno</h1>
        <button type="button" class="close" data-dismiss="modal" (click)="retornar()">&times;</button>
    </div>
    <div class="modal-body">
        <div>
            <p>Nombre:</p>
            {{alumnoDetalle.nombre}}
            <p>Apellidos:</p>
            {{alumnoDetalle.apellidos}}
            <p>Email:</p>
            {{alumnoDetalle.email}}
            <p>Fecha nacimiento:</p>
            {{alumnoDetalle.fecha_nacimiento}}
        </div>
        <br>
        <button type="button" class="button-modal-perfil" data-dismiss="modal" (click)="retornar()">Volver</button>
    </div>


</ng-template>
-->

<div>
    <p>Nombre:</p>
    {{alumnoDetalle.nombre}}
    <p>Apellidos:</p>
    {{alumnoDetalle.apellidos}}
    <p>Email:</p>
    {{alumnoDetalle.email}}
    <p>Fecha nacimiento:</p>
    {{alumnoDetalle.fecha_nacimiento}}
</div>