/* tabla alumnos */

.table-eval {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #122b3a59;
    border: none;
    color: #fff;
}

.table-eval:nth-child(even) {
    background-color: #2075cd29;
}

.eval-info {
    display: flex;
    width: 35vw;
    justify-content: space-between;
}


/* media */

@media screen and (max-width:1024px) {
    .separador {
        margin-top: 15%;
    }
}

a {
    margin: 10px;
}

a:hover {
    color: #1292f8 !important;
    transition: 0.5s !important;
}


/* buscador */

input[type="text"]:focus {
    color: var(--backgound-color-skeleton);
}

.input-buscador {
    width: 90%;
}

.container-skills {
    width: 100px;
    margin: 10px;
    margin-left: auto;
}

.lista-skills {
    display: flex;
}

.lista-skills button {
    border: none;
    background: none;
}

.lista-skills img {
    width: 30px;
    height: 30px;
}

.separador3 {
    width: 15%;
    height: 100%;
}

.filtros {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    background-color: #0000008c;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    height: 420px;
}

.btn-filtro-skill button:hover {
    border-radius: 5px;
    background-color: #0d8bf1;
}

.btn-filtro-skill button:focus {
    border-radius: 5px;
    background-color: #0d8bf1;
}

.eval-elim-button button {
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #e12929;
}

.eval-elim-button button:hover {
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #830606;
}

.filter-dates input[type="date"] {
    background-color: transparent;
    border: none;
    color: #fff !important;
}

.restaurar {
    padding: 10px;
    border-radius: 5px;
    background: #0000008c;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    color: #ffffff;
    border: none;
    transition: 0.1s;
}

.restaurar:hover {
    background-color: #1292f8;
    color: #ffffff;
}

.skill_hover {
    position: absolute;
    width: 150px;
    height: 60px;
    bottom: 40px;
    right: -55px;
    /* left: -37px; */
    background-color: #000000a6;
    border-radius: 10px;
    z-index: 9999;
}