/* media */

@media screen and (max-width:1024px) {
    .separador {
        margin-top: 15%;
    }
}

a {
    margin: 10px;
}

a:hover {
    color: #1292f8 !important;
    transition: 0.5s !important;
}


/* buscador */

input[type="text"]:focus {
    color: var(--backgound-color-skeleton);
}

.lista-skills {
    display: flex;
}

.lista-skills button {
    border: none;
    background: none;
}

.lista-skills img {
    width: 30px;
    height: 30px;
}

.separador3 {
    width: 15%;
    height: 100%;
}

.filtros {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    background-color: #0000008c;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
}

.btn-filtro-skill button:hover {
    border-radius: 5px;
    background-color: #0d8bf1;
}

.btn-filtro-skill button:focus {
    border-radius: 5px;
    background-color: #0d8bf1;
}