@import url("../../../../styles.css");
.h1-modal {
    color: var( --modal-color-text);
    font: 400 24px/32px Roboto, "Helvetica Neue", sans-serif;
}

::ng-deep .modal-dialog {
    margin-top: 200px;
    z-index: 900000;
}

::ng-deep .modal-body {
    background-color: var(--modal-backgound-color);
    backdrop-filter: blur(6px);
}

::ng-deep .modal-header {
    background-color: var(--modal-backgound-header);
    backdrop-filter: blur(6px);
    opacity: 40px;
    border-bottom: 0px solid !important;
}