<!--
    
    <button type="button " class="crear-ranking" (click)="enviar(nombreModal)">Crear</button>
<ng-template #nombreModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h1>Crear ranking</h1>
        <button type="button" class="close" data-dismiss="modal" (click)="retornar()">&times;</button>
    </div>
    <div class="modal-body">
        <app-crear-ranking></app-crear-ranking>
    </div>
</ng-template>
-->

<div *ngIf="idModal === 1">
    <div class="modal-header">
        <h1 class="h1-modal">Crear ranking</h1>
        <button type="button" class="close" data-dismiss="modal" (click)="retornar()">&times;</button>
    </div>
    <div class="modal-body">
        <app-crear-ranking></app-crear-ranking>
    </div>
</div>

<div *ngIf="idModal === 2">
    <div class="modal-header">
        <h2 class="h1-modal">Editar ranking</h2>
        <button type="button" class="close" data-dismiss="modal" (click)="retornar()">&times;</button>
    </div>
    <div class="modal-body">
        <app-modal-editar-ranking [rankSelec]="rankSelec"></app-modal-editar-ranking>
    </div>
</div>

<div *ngIf="idModal === 3">
    <div class="modal-header">
        <h2 class="h1-modal">Crear entrega</h2>
        <button type="button" class="close" data-dismiss="modal" (click)="retornar()">&times;</button>
    </div>
    <div class="modal-body">
        <app-modal-entrega [rankSelec]="rankSelec" [alumnosRank]="alumnosRank"></app-modal-entrega>
    </div>
</div>

<div *ngIf="idModal === 4">
    <div class="modal-header">
        <h2 class="h1-modal">Editar entrega</h2>
        <button type="button" class="close" data-dismiss="modal" (click)="retornar()">&times;</button>
    </div>
    <div class="modal-body">
        <app-modal-editar-entrega [entregaSelec]="entregaSelec"></app-modal-editar-entrega>
    </div>
</div>

<div *ngIf="idModal === 5">
    <div class="modal-header">
        <h2 class="h1-modal">Ver detalle usuario</h2>
        <button type="button" class="close" data-dismiss="modal" (click)="retornar()">&times;</button>
    </div>
    <div class="modal-body">
        <app-modal-perfil-alumno [alumnoDetalle]="alumnoDetalle"></app-modal-perfil-alumno>
    </div>
</div>

<!-- Mostrar podio del ranking seleccionado -->
<div *ngIf="idModal === 6">
    <div class="modal-header">
        <h2 class="h1-modal">Podium</h2>
        <button type="button" class="close" data-dismiss="modal" (click)="retornar()">&times;</button>
    </div>
    <div class="modal-body">
        <app-modal-podium [rankSelec]="rankSelec"></app-modal-podium>
    </div>
</div>

