.crear-ranking {
    margin-left: 5%;
    padding: 10px;
    border-radius: 5px;
    background: #0000008c;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    backdrop-filter: blur(6px);
    color: #cccccc;
    border: none;
    transition: 300ms;
}

.crear-ranking:hover {
    background-color: #56baed;
    color: #ffffff;
}

::ng-deep .modal-dialog {
    margin-top: 200px;
    z-index: 900000;
}