<app-header></app-header>
<div class="main-separador">
    <div class="separador1">
        <div class="sidebar">
            <div class="cabecera-mis-rankings">
                <h2>Mis Rankings</h2>
                <button class="unirse-ranking" (click)="unirseRanking()">
                    Unirse
                </button>
            </div>
            <div class="no-ranks" *ngIf="flagRanks;else tieneRankings">
                <p>No tiene rankings</p>
            </div>
            <div class="lista-rankings">
                <ng-template #tieneRankings>
                    <app-loader></app-loader>
                    <div class="array-rankings">
                        <div *ngFor="let rank of arrRankings; let i = index" class="rank">
                            <button class="button-ranking-class" (click)="rankSelec(rank.id_rank)">{{rank.nom_rank}}</button>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>

    <div class="separador2">
        <div class="info-rankings">
            <div class="titulo-detalle-ranking" *ngIf="rankSeleccionado;else noselec">
                <h1>Ranking</h1>
                <h3>{{rankSeleccionado.nom_rank}}</h3>
            </div>
            <ng-template #noselec>
                <div class="titulo-detalle-ranking">
                    <h1>Ranking</h1>
                    <p>No se seleccionó ningún ranking</p>
                </div>
            </ng-template>
            <div class="alumnos-ranking">
                <app-loader></app-loader>
                <div class="table-element" *ngFor="let alumno of listaAlumnos; let i = index">
                    <div class="table-num">
                        {{i+1}}
                    </div>
                    <div class="table-imagen">
                        <img src="{{alumno.imagen}}">
                    </div>
                    <div class="table-nombre">
                        {{alumno.nombre}}
                    </div>
                    <div class="table-apellidos">
                        {{alumno.apellidos}}
                    </div>
                    <div class="table-puntuacion">
                        {{alumno.puntuacion}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>