@import url("../../../../styles.css");
body {
    height: 100% !important;
}

.separador1 {
    height: 100%;
    width: 295px;
}

.separador2 {
    justify-content: center;
    margin: 0 20px 0 20px;
    width: 50%;
    height: auto;
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

.unirse-ranking {
    margin: 5%;
    padding: 10px;
    border-radius: 5px;
    background: #0000008c;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    backdrop-filter: blur(6px);
    color: #cccccc;
    border: none;
    transition: 1s;
}

.unirse-ranking:hover {
    background-color: #56baed;
}

.unirse-retangulo {
    background: #1292f8;
    float: left;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.lista-rankings p {
    color: #ffffff;
}

.titulo-detalle-ranking {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    margin: 20px;
}

.button-ranking-class {
    background-color: transparent;
    width: 100%;
    height: 50px;
    text-align: left;
    border: none;
    color: #cccccc;
    cursor: pointer;
    transition: 200ms;
    border-radius: 7px;
    word-wrap: break-word;
}

.button-ranking-class:hover {
    transition: 200ms;
    color: white;
    background-color: #56baed;
}

.cantidad-alumnos {
    float: right;
}

.info-superior {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.contenido-icons {
    margin: 10px 10px 10px 10px;
    float: right;
    width: 100%;
}

.button-icons {
    float: right;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: 1s;
}

.button-icons:hover {
    transition: 1s;
    color: #1292f8;
}

.no-ranks p {
    color: #ffffff;
}


/* tabla alumnos */

.table-element {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    background: none;
    border: none;
    color: #fff;
}

.table-element:hover,
.table-element:nth-child(odd):hover {
    background-color: #00000046;
}

.table-element:nth-child(odd) {
    background-color: #002d52;
}

.table-imagen {
    margin: 0 0 0 10px;
}

.table-imagen img {
    width: 35px;
    height: auto;
    border-radius: 50%;
    margin: 10px;
}

.table-puntuacion {
    margin-left: auto;
}

.table-nombre {
    margin: 0 6px 0 10px;
}


/* media */

@media screen and (max-width:1024px) {
    .separador {
        margin-top: 15%;
    }
}

.pendienteFlex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.btn-pendiente {
    padding: 5px 10px;
    width: 45px;
    border: none;
    background-color: #ffc333;
    border-radius: 5px;
}

.array-rankings p {
    color: #cccccc;
    margin: 5px;
}

.titulo-skills {
    display: flex;
    justify-content: space-between;
}

.table-skills {
    display: flex;
    width: 226px;
    margin-left: 140px;
    justify-content: space-around;
}

.skill_hover {
    width: 100px;
    height: 100px;
    background-color: #00000097;
    border-radius: 10px;
    z-index: 9999;
}

.skill_details {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #0000003c;
    justify-content: space-between;
    align-items: center;
}

.skill_details button {
    background: none;
    border: none;
}

.list-softskills {
    display: flex;
}