<app-header></app-header>
<div class="separador1">
    <div class="sidebar">
            <h1 class="active" style="margin: 2%;">Mis Rankings</h1>
            <a href="#">text</a>
            <a href="#">text</a>
            <a href="#">text</a>
            <a href="#">text</a>
            <a href="#">text</a>
            <a href="#">text</a>
            <div class="unirse-retangulo">
                <button class="unirse-ranking">Unirse</button>
            </div>
    </div>

</div>

<div class="separador2">
    <div class="info-rankings">
        <h1>Ranking</h1>
        <hr>
    </div>
</div>
<!--<div class="separador2">
    <div class="contenido-dashboard">
        <div class="rectangulo">
            <h4 class=".destacadoDashboard">Rankins</h4>
            <p class="texto-destacados">11 alumons</p>
            <button class="button-destacados">Ver más</button>
        </div>
        <div class="rectangulo">
            <h4 class=".destacadoDashboard">Rankins</h4>
            <p class="texto-destacados">5 alumons</p>
            <button class="button-destacados">Ver más</button>
        </div>
        <div class="rectangulo">
            <h4 class=".destacadoDashboard">Rankins</h4>
            <p class="texto-destacados">18 alumons</p>
            <button class="button-destacados">Ver más</button>
        </div>
    </div>
</div>-->