@import url("../../../../styles.css");

/*
div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}
*/


/* Botón unirse al ranking */

.unirse-ranking {
    margin: 5%;
    padding: 10px;
    border-radius: 5px;
    background: #0000008c;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    color: #ffffff;
    border: none;
    transition: 0.1s;
}

.unirse-ranking:hover {
    background-color: #1292f8;
}


/* Botón pendiente */

.pendienteFlex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.btn-pendiente {
    padding: 5px 10px;
    width: 45px;
    border: none;
    background-color: #ffc333;
    border-radius: 5px;
}


/* tabla alumnos */

.container-lista-alumnos:nth-child(odd) {
    border-radius: 10px;
    background-color: #002d5283;
}

.lista-alumnos-ranking {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* media */

@media screen and (max-width:1024px) {
    .separador {
        margin-top: 15%;
    }
}

.titulo-skills {
    display: flex;
    justify-content: space-between;
}


/* Skills */

.table-skills {
    display: flex;
    width: 245px;
    margin-left: 60px;
    justify-content: flex-start;
    align-items: center;
}

.image-skill {
    position: relative;
}

.skill_hover {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 150px;
    height: 60px;
    bottom: 40px;
    right: -55px;
    /* left: -37px; */
    background-color: #000000a6;
    border-radius: 10px;
    z-index: 9999;
}

.skill_details {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #0000003c;
    justify-content: center;
    align-items: center;
}

.skill_details img {
    width: 30px;
    height: 30px;
}

.skill_details button {
    background: none;
    border: none;
}

.list-softskills {
    display: flex;
}

.current-skills img {
    width: 30px;
    height: 30px;
}

.btn-copa {
    border: none;
    background: none;
}

.btn-copa:hover {
    background-color: #ffc333;
    border-radius: 5px;
}