<div class="separador2">
    <div class="contenido-dashboard">
        <div class="rectangulo">
            <h4 class=".destacadoDashboard">Rankings</h4>
            <p class="texto-destacados">11 alumons</p>
            <button class="button-destacados">Ver más</button>
        </div>
        <div class="rectangulo">
            <h4 class=".destacadoDashboard">Rankings</h4>
            <p class="texto-destacados">5 alumons</p>
            <button class="button-destacados">Ver más</button>
        </div>
        <div class="rectangulo">
            <h4 class=".destacadoDashboard">Rankings</h4>
            <p class="texto-destacados">18 alumons</p>
            <button class="button-destacados">Ver más</button>
        </div>
    </div>
</div>