<body>
    <header>
        <div class="container__menu">
            <div class="logo">
                <img src="" alt="">
                <h1 class="logopage">FBX</h1>
            </div>
            <div class="menu">
                <nav>
                    <ul>
                        <li><button [routerLink]="['/identificacion']" class="app">App <svg
                                    xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                    class="bi bi-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                                </svg></button></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main>
        <div class="container__cover">
            <div class="cover">
                <div class="text">
                    <h1>Ayudamos a los profesores a crear alumnos competitivos</h1>
                    <p>¡El objetivo principal de FBX es proporcionar a los maestros y alumnas una plataforma útil, sencilla y accesible que les permita aprender jugando. Está basado en el concepto de Ludificación del aprendizaje y se rige por dinámicas de
                        juego.</p>

                    <input type="button" (click)="scroll()" value="Empieza Ya">
                </div>
                <div class="svg">
                    <div class="containerlogo">
                        <div class="logotest">
                            <div class="barralogo1"></div>
                            <div class="barralogo2"></div>
                            <div class="barralogo3"></div>
                            <div class="barralogo4"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contenido-info">
                <h3 class="titulo1"> Servicios FBX</h3>
                <h1 class="productotitulo">Te ayudamos a mejorar y optimizar todos tus cursos</h1>
                <div class="section1">
                    <div class="centrar">
                        <img src="../../../assets/landing/undraw_Teacher_re_sico.png" alt="">
                    </div>
                    <div class="textProfe">
                        <h1 class="texth1">Ayudamos a los profesores</h1>
                        <p class="textp">
                            Facilitamos a los profesores a tener un mayor control con sus clases , con sus alumnos y las parcticas.
                        </p>
                        <button [routerLink]="['/identificacion']" class="empezar">Empezar como alumno</button>

                    </div>


                </div>
                <div class="section2">
                    <div class="centrar">
                        <img src="../../../assets/landing/undraw_mathematics_4otb.png" alt="">
                    </div>
                    <div class="textProfe">
                        <h1 class="texth1">Potenciamos a los alumnos</h1>
                        <p class="textp">
                            Impulsamos a los alumnos a crecer en los ranking y subir su productovidad a la hora de entregar la practicas.
                        </p>
                        <button [routerLink]="['/identificacion-profesores']" class="empezar">Empezar como
                            profesor</button>

                    </div>
                </div>

                <div class="infoFinal">
                    <p class="tituloFooter"> </p>
                    <p class="tituloFooter1">Diseñado y desarrollado: Fran, biel y Xavier</p>
                    <P class="footerp"> Creado por Grupo FBX, &copy; Copyright 2022 </P>
                </div>
            </div>

        </div>




    </main>



</body>