<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header class="header-landing">
        <nav class="nav-container">
            <h2 class="nav-logo">BMX</h2>

            <ul class="nav-list">
                <li class="nav-item"><a href="#" class="nav-link">Inicio</a></li>
                <li class="nav-item"><a href="#" class="nav-link">App</a></li>
            </ul>


            <!-- Diseño 3d -->
            <figure class="nav-menu">
                <!-- Codi imatge 3d -->
            </figure>
        </nav>
        <section class="header-main-container">
            <div class="header-texts">
                <h1 class="header-title">¡Somos BMX!</h1>
                <p class="header-subtitle">Dejanos ayudarte a agilizar tus rankings.</p>
                <a href="#">¡Unete a nosotros!</a>
            </div>

            <figure class="header-picture">
                <img src="" class="header-img">
            </figure>
        </section>
        <div style="height: 150px; overflow: hidden;" class="header-wave"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M-8.17,76.48 C57.28,15.30 316.87,184.05 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: rgb(255, 255, 255);"></path>
            </svg></div>
    </header>
</body>

</html>