<body>
    <header>
        <div class="container__menu">
            <div class="logo">
                <img src="" alt="">
            </div>
            <div class="menu">
                <nav>
                    <ul>
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">App</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main>
        <div class="container__cover">
            <div class="cover">
                <div class="text">
                    <h1>Ayudamos a los profesores a para que creen alumnos competitivos</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quas ex aut hic laborum
                        incidunt,
                        iste voluptas maxime aliquid possimus eos! Voluptatibus iusto dolores atque voluptatum sit odio
                        omnis quidem?</p>

                    <input type="button" value="Empieza Ya">
                </div>
                <div class="svg">
                    <img src="assets/landing/undraw_complete_design_re_h75h.svg" alt="">
                </div>
            </div>
        </div>
    </main>
</body>