* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #fff !important;
}

header {
  width: 100%;
  height: 80px;

  *position: fixed;
  z-index: 1;
  background: #fff !important;
}

.logo img {
  width: 60px;
}

.container__menu {
  max-width: 1200px;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.menu ul {
  display: flex;
}

.menu ul li {
  list-style: none;
    margin-left: 36px;
}

.menu ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #007bff;
    text-transform: uppercase;
}

/* ------- */

.container__cover{
    width: 100%;
    height: 800px;
    background-image: url(assets/landing/Background-page.svg);
    background-position: right;
    background-repeat: no-repeat;
}

.cover{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__cover .text{
    max-width: 400px;
}

.container__cover .text h1{
    font-size: 36px;
    font-weight: 600;

}

.container__cover .text p{
    font-size: 18px;
    margin-top: 40px;
}

.container__cover .text input{
    padding: 18px 80px;
    border: none;
    font-size: 16px;
    border-radius: 50px;
    margin-top: 40px;
    background: linear-gradient(to right, #42bbebaa, #426febaa);
    cursor: pointer;
    box-shadow: 1px 1px 30px -12px #426febaa;
}

.container__cover .text input:hover{
    box-shadow: 1px 1px 30px -6px #426febaa;
    transition: all 300ms;
}

.container__cover .svg img{
    width: 800px;
    margin-left: 300px;
    animation: move-vector 4s linear infinite;
}

@keyframes move-vector {
    0%{
        transform: translateY(15px);
    }
    50%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(15px);
    }
    
}


.containerlogo {
  position: relative;
  top: 342px;
  left: 200px;
}

.logotest {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 0px;
  padding-top: 120px;
}

.logotest>div {
  position: absolute;
  width: 150px; 
  margin: 2px;
  border-radius: 100px 100px 0 0;
}

.barralogo1 {
  background-color: rgb(20, 129, 255);
  animation: barra1 0.2s forwards;
  animation-delay: 0.8s;
  right: 500px;
}

.barralogo2 {
  background-color: rgb(71, 212, 255);
  animation: barra2 0.2s forwards;
  animation-delay: 1s;
  right: 420px;
}

.barralogo3 {
  background-color: rgb(74, 159, 255);
  animation: barra3 0.2s forwards;
  animation-delay: 1.2s;
  right: 340px;
}

.barralogo4 {
  background-color: rgb(71, 212, 255);
  animation: barra4 0.2s forwards;
  animation-delay: 1.4s;
  right: 260px;
}

@keyframes h1 {
  0% {
      height: 0%;
  }
  100% {
      height: 100%;
  }
}

@keyframes barra1 {
  0% {
      height: 0px;
  }
  100% {
      height: 220px;
  }
}

@keyframes barra2 {
  0% {
      height: 0px;
  }
  100% {
      height: 250px;
  }
}

@keyframes barra3 {
  0% {
      height: 0px;
  }
  100% {
      height: 70px;
  }
}

@keyframes barra4 {
  0% {
      height: 0px;
  }
  100% {
      height: 400px;
  }
}