/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css?family=Poppins");

/* BASIC */
.light-theme {
    --background-color: linear-gradient(35deg, rgb(15, 65, 156) 0%, rgb(11, 143, 219) 100%);
    --perfil-Contact-Background-color: white;
  
  }
  
  .dark-theme {
    --background-color: linear-gradient(35deg, rgb(8, 31, 73) 0%, rgb(4, 46, 70) 100%);
    --perfil-Contact-Background-color: #0000008c;
  }

body {
    
    font-family: "Poppins", sans-serif;
    height: 100vh;
    background: var( --background-color);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #007bff;
}
::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 5px solid transparent;
  background-clip: content-box;
  background-color: #007bff;
}

a {
  color: #92badd;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
}

h1 {
  /* background: -webkit-linear-gradient(rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); */
  color: #007bff;
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.nav {
  justify-content: center;
  border-color: #dce8f13d !important;
}

.nav-tabs .nav-item .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: rgb(255, 255, 255) !important;
  background-color: #ffffff26 !important;
  border-color: #dce8f13d !important;
  border-bottom: transparent !important;
  width: 150px;
  /*border-color: #dee2e6 #dee2e6 #fff;*/
}

.nav-item a:hover {
  color: white;
  border-color: #dce8f13d !important;
  border-bottom: transparent !important;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  margin: 40px 8px 10px 8px;
  color: #cccccc;
}

h2:hover {
  cursor: pointer;
}

/* STRUCTURE */

.wrapperTest {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  background-color: transparent !important;
}

.formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #0000008c;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
  backdrop-filter: blur(6px);
  z-index: 2;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

/* TABS */

h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}

/* FORM TYPOGRAPHY*/

.input-group {
  margin-bottom: 1rem;
  display: inline-block !important;
  flex-direction: column;
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(95, 186, 233, 0.4);
  box-shadow: 0px 0px 10px 0px rgba(95, 186, 233, 0.4);
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  cursor: pointer;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(23, 113, 247, 0.5);
  box-shadow: 0px 0px 20px 0px rgba(23, 113, 247, 0.5);
  -webkit-border-radius: 5px 5px 5px 5px;
  background-color: #019df4;
}

input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="date"] {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.material-icons {
  cursor: pointer;
  animation: fadeIn ease-in 1;
}

#formularioLogin input[type="text"],
#formularioLogin input[type="password"],
#formularioLogin input[type="date"] {
  background-color: #f6f6f600;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 1px solid #f6f6f633;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

#formularioRegistro input[type="text"],
#formularioRegistro input[type="email"],
#formularioRegistro input[type="password"],
#formularioRegistro input[type="date"] {
  background-color: #f6f6f600;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 1px solid #f6f6f633;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

.swal2-input {
  color: #1a1a1a !important;
}

input[type="date"] {
  color: #636c72 !important;
  width: 89% !important;
}

.select-Centros {
  border-radius: 5px 5px 5px 5px;
  color: #636c72;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  padding: 15px 32px;
  border: 1px solid #636c72;
  background-color: transparent;
}

select.select-Centros option.option-select-centros {
  background-color: #0000008c transparent;
  border-radius: 5px 5px 5px 5px;
}

input[type="text"]:focus,
input[type="password"]:focus {
  color: white;
  background-color: transparent;
  border-bottom: 2px solid #5fbae9;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

input[type="text"]:placeholder {
  color: #cccccc;
}

.Icon-inside {
  position: relative;
}

.Icon-inside i {
  position: absolute;
  top: 10px;
  right: 35px;
  padding: 10px 10px;
  color: #30a3f1;
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 2s;
}

.form-group {
  margin-bottom: 0 !important;
}

.input-group {
  margin-bottom: 0;
}

/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 0.1s;
  -moz-animation-duration: 0.1s;
  animation-duration: 0.1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.fifth {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

/* Simple CSS3 Fade-in Animation */

.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  text-decoration: none;
  transition: width 0.2s;
}

.underlineHover:hover {
  color: white;
  text-decoration: none;
}

.underlineHover:hover:after {
  width: 100%;
}

/* OTHERS */

*:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}

#formFooter {
  background-color: #f6f6f600;
  border-top: 1px solid #dce8f13d;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
