<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" />

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="wrapperTest">
        <!-- pestañas de cada componente -->
        <img src="../../../../assets/student.png" class="iconoUser fadeInDown">
        <div class="cambio-form">
            <a routerLink="/identificacion-profesores">Formulario para profesores <img
                src="../../../../assets/arrow-right.png" class="arrow-right"></a>
        </div>
        <div class="formContent fadeInDown">
            <div class="titulo">
                <div class="fadeIn first">
                    <!-- logo -->
                    <div class="containerlogo">
                        <div class="logotest">
                            <div class="barralogo1"></div>
                            <div class="barralogo2"></div>
                            <div class="barralogo3"></div>
                            <div class="barralogo4"></div>
                        </div>
                        <h1 class="h1-logotest">FBX</h1>
                    </div>
                </div>
            </div>
            <ul ngbNav #nav="ngbNav" class="nav-tabs">
                <li [ngbNavItem]="1">
                    <a ngbNavLink>Login</a>
                    <ng-template ngbNavContent>
                        <app-login></app-login>
                    </ng-template>
                </li>
                <li [ngbNavItem]="2">
                    <a ngbNavLink>Registro</a>
                    <ng-template ngbNavContent>
                        <app-registro-alumno></app-registro-alumno>
                    </ng-template>
                </li>
            </ul>
            <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
    </div>

    <app-waves></app-waves>
</body>

</html>