<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" />

<div class="fadeIn first">
    <img src="" id="icon" width="10" height="150" />
</div>

<form [formGroup]="registerForm" (ngSubmit)="onRegistro(registerForm.value)" class="Icon-inside">
    <div class="form-group">
        <input type="text" id="login" formControlName="username" placeholder="Usuario" class="fadeIn first"
            [ngClass]="{ 'is-invalid': form.username.errors }">
        <!-- Missatge quan esta malament-->
        <div *ngIf="submitted && form.username.errors" class="invalid-feedback">
            <div *ngIf="form.username.errors.required">El nombre de usuario es necesario</div>
        </div>
    </div>

    <div class="form-group">
        <input type="text" id="email" formControlName="email" placeholder="Correo Electrónico" class="fadeIn first"
            [ngClass]="{ 'is-invalid': submitted && form.email.errors }">
        <div *ngIf="submitted && form.email.errors" class="invalid-feedback">
            <div *ngIf="form.email.errors.required">El correo electrónico es necesario</div>
            <div *ngIf="form.email.errors.email">Correo electrónico no válido</div>
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            <input id="password" placeholder="Password" class="fadeIn second" formControlName="password"
                [type]="passType" [ngClass]="{ 'is-invalid': submitted && form.password.errors }">
            <!-- Icono -->
            <i *ngIf="this.passShown" (click)="togglePass()" class="material-icons">
                visibility
            </i>
            <i *ngIf="!this.passShown" (click)="togglePass()" class="material-icons">
                visibility_off
            </i>
            <!-- Missatge quan esta malament-->
            <div *ngIf="submitted && form.password.errors" class="invalid-feedback">
                <div *ngIf="form.password.errors.required">La contraseña es necesaria</div>
                <div *ngIf="form.password.errors.minlength">La contraseña debe contener al menos 6 carácteres</div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            <input id="confirmPassword" placeholder="Confirmar Contraseña" class="fadeIn second"
                formControlName="confirmPassword" [type]="confirmPassType"
                [ngClass]="{ 'is-invalid':submitted && form.confirmPassword.errors }">
            <!-- Icono -->
            <i *ngIf="this.confirmPassShown" (click)="toggleConfirmPass()" class="material-icons">
                visibility
            </i>
            <i *ngIf="!this.confirmPassShown" (click)="toggleConfirmPass()" class="material-icons">
                visibility_off
            </i>

            <div *ngIf="submitted && form.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="form.confirmPassword.errors.required">Confirmar la contraseña es necesario</div>
                <div *ngIf="form.confirmPassword.errors.mustMatch">Las contraseñas deben de coincidir</div>
            </div>
        </div>
    </div>

    <input type="text" id="nombre" name="nombre" placeholder="Nombre" class="fadeIn third" formControlName="nombre"
        [ngClass]="{ 'is-invalid': form.nombre.errors }">
    <div *ngIf="submitted && form.nombre.errors" class="invalid-feedback">
        <div *ngIf="form.nombre.errors.required">El nombre es necesario</div>
    </div>

    <input type="text" id="apellidos" name="apellidos" placeholder="Apellidos" class="fadeIn third"
        formControlName="apellidos" [ngClass]="{ 'is-invalid': form.apellidos.errors }">
    <div *ngIf="submitted && form.apellidos.errors" class="invalid-feedback">
        <div *ngIf="form.apellidos.errors.required">Los apellidos son necesarios</div>
    </div>

    <input type="date" name="fechaNacimiento" class="fadeIn third" id="fechaNacimiento"
        formControlName="fechaNacimiento">
    <div *ngIf="submitted && form.fechaNacimiento.errors" class="invalid-feedback">
        <div *ngIf="form.fechaNacimiento.errors.required">La fecha de nacimiento es necesaria</div>
    </div>
    <br>
    <label for="centro1">Centro 1</label>
    <input type="radio" formControlName="centro" value="1"><br>

    <label for="centro2">Centro 2</label>
    <input type="radio" formControlName="centro" value="2"><br>

    <label for="centro3">Centro 3</label>
    <input type="radio" formControlName="centro" value="3"><br>

    <br>
    <input type="submit" value="Registrarse" class="fadeIn fourth">

</form>