<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" />

<!-- 
<div id="acceso-profes" class="fadeIn first">
    <input type="password" [(ngModel)]="passAcceso" [ngModelOptions]="{standalone: true}" placeholder="12">
    <input type="submit" value="Acceso profes" (click)="profe()">
</div>
-->

<div class="registro-profe">
    <button (click)="profe()">
    Registro profe
</button>
</div>

<div class="registro-alumno">
    <button (click)="alumno()">
        Registro alumno
    </button>
</div>

<!-- Formulario PROFESORES -->
<div *ngIf="registroProfe">
    <app-registro-profesor></app-registro-profesor>
</div>

<!-- Formulario ALUMNOS -->
<div *ngIf="registroAlumno">
    <app-registro-alumno></app-registro-alumno>
</div>